In [21]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [22]:
bikes=pd.read_csv('train.csv')
bikes_test=pd.read_csv('test.csv')
bikes.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [25]:
bikes.rename(columns={'count':'total'}, inplace=True)
dt=bikes_test['datetime']

In [26]:
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

temp= pd.DatetimeIndex(bikes['datetime'])
bikes["dayofweek"] = temp.dayofweek
bikes["hour"] = temp.hour
bikes["month"] = temp.month
bikes['year']= temp.year
temp_t=pd.DatetimeIndex(bikes_test['datetime'])
bikes_test["dayofweek"] = temp_t.dayofweek
bikes_test["hour"] = temp_t.hour
bikes_test["month"] = temp_t.month
bikes_test['year']= temp_t.year

In [27]:
import seaborn as sns
sns.pairplot(bikes, x_vars=['season', 'weather','temp', 'humidity'], y_vars='total', kind='reg')

In [28]:
sns.pairplot(bikes, x_vars=['holiday', 'workingday','atemp', 'windspeed'], y_vars='total', kind='reg')

In [29]:
bikes.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,total,dayofweek,hour,month,year
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439,-0.010553,-0.006546,0.971524,-0.004797
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393,-0.191832,-0.000354,0.001731,0.012021
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594,-0.704267,0.002780,-0.003394,-0.002482
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655,-0.047692,-0.022740,0.012144,-0.012548
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454,-0.038466,0.145430,0.257589,0.061226
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784,-0.040235,0.140343,0.264173,0.058540
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371,-0.026507,-0.278011,0.204537,-0.078606
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369,-0.024804,0.146631,-0.150192,-0.015221
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414,0.246959,0.302045,0.092722,0.145241
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948,-0.084427,0.380540,0.169451,0.264265
total,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000,-0.002283,0.400601,0.166862,0.260403
dayofweek,-0.010553,-0.191832,-0.704267,-0.047692,-0.038466,-0.040235,-0.026507,-0.024804,0.246959,-0.084427,-0.002283,1.000000,-0.002925,-0.002266,-0.003785
hour,-0.006546,-0.000354,0.002780,-0.022740,0.145430,0.140343,-0.278011,0.146631,0.302045,0.380540,0.400601,-0.002925,1.000000,-0.006818,-0.004234
month,0.971524,0.001731,-0.003394,0.012144,0.257589,0.264173,0.204537,-0.150192,0.092722,0.169451,0.166862,-0.002266,-0.006818,1.000000,-0.004932
year,-0.004797,0.012021,-0.002482,-0.012548,0.061226,0.058540,-0.078606,-0.015221,0.145241,0.264265,0.260403,-0.003785,-0.004234,-0.004932,1.000000

In [30]:
sns.heatmap(bikes.corr())

In [31]:
X=bikes.drop(['casual','registered','total','datetime'],axis=1)
y=bikes['total']
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
dayofweek     10886 non-null int64
hour          10886 non-null int64
month         10886 non-null int64
year          10886 non-null int64
dtypes: float64(3), int64(9)
memory usage: 1020.6 KB

In [32]:
new_y = np.log(y + 1)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, new_y, test_size = 0.33, random_state = 42)
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
prediction = rf.predict(X_test)
mean_squared_error(y_test, prediction)

0.10878610897683959

In [34]:
rf.fit(X, new_y)
bikes_test= bikes_test.drop(['datetime'],axis=1)
prediction = rf.predict(bikes_test)
prediction = np.exp(prediction) - 1

In [36]:
df=pd.DataFrame({'datetime':dt, 'count':prediction})
df

           count             datetime
0      11.719760  2011-01-20 00:00:00
1       4.402167  2011-01-20 01:00:00
2       3.074150  2011-01-20 02:00:00
3       3.396797  2011-01-20 03:00:00
4       2.379634  2011-01-20 04:00:00
5       4.705876  2011-01-20 05:00:00
6      37.300836  2011-01-20 06:00:00
7      93.805411  2011-01-20 07:00:00
8     210.305299  2011-01-20 08:00:00
9     118.150680  2011-01-20 09:00:00
10     60.894215  2011-01-20 10:00:00
11     59.089830  2011-01-20 11:00:00
12     74.520401  2011-01-20 12:00:00
13     68.984383  2011-01-20 13:00:00
14     70.531596  2011-01-20 14:00:00
15     88.704428  2011-01-20 15:00:00
16     88.859343  2011-01-20 16:00:00
17    186.583916  2011-01-20 17:00:00
18    180.390967  2011-01-20 18:00:00
19    100.893876  2011-01-20 19:00:00
20     67.095134  2011-01-20 20:00:00
21     49.497805  2011-01-20 21:00:00
22     47.763786  2011-01-20 22:00:00
23     22.759966  2011-01-20 23:00:00
24     15.083319  2011-01-21 00:00:00
25      5.651752  2011-01-21 01:00:00
26      3.662234  2011-01-21 02:00:00
27      1.547682  2011-01-21 03:00:00
28      1.961192  2011-01-21 04:00:00
29      1.942142  2011-01-21 05:00:00
...          ...                  ...
6463  190.763779  2012-12-30 18:00:00
6464  187.064235  2012-12-30 19:00:00
6465   91.257369  2012-12-30 20:00:00
6466   71.666792  2012-12-30 21:00:00
6467   73.732161  2012-12-30 22:00:00
6468   50.085413  2012-12-30 23:00:00
6469   20.571106  2012-12-31 00:00:00
6470    8.120828  2012-12-31 01:00:00
6471    2.741502  2012-12-31 02:00:00
6472    3.001684  2012-12-31 03:00:00
6473    6.136499  2012-12-31 04:00:00
6474   34.126583  2012-12-31 05:00:00
6475  114.291661  2012-12-31 06:00:00
6476  322.884429  2012-12-31 07:00:00
6477  519.948536  2012-12-31 08:00:00
6478  241.007361  2012-12-31 09:00:00
6479  146.639708  2012-12-31 10:00:00
6480  141.934982  2012-12-31 11:00:00
6481  149.181317  2012-12-31 12:00:00
6482  167.710933  2012-12-31 13:00:00
6483  160.058484  2012-12-31 14:00:00
6484  165.067158  2012-12-31 15:00:00
6485  269.230998  2012-12-31 16:00:00
6486  428.242386  2012-12-31 17:00:00
6487  394.492291  2012-12-31 18:00:00
6488  287.423835  2012-12-31 19:00:00
6489  191.555300  2012-12-31 20:00:00
6490  134.655909  2012-12-31 21:00:00
6491  114.482547  2012-12-31 22:00:00
6492   56.153365  2012-12-31 23:00:00

[6493 rows x 2 columns]